.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-0 {
  top: 0px
}

.bottom-0 {
  bottom: 0px
}

.bottom-40 {
  bottom: 10rem
}

.-mt-6 {
  margin-top: -1.5rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.flex {
  display: flex
}

.h-10 {
  height: 2.5rem
}

.h-14 {
  height: 3.5rem
}

.h-3\/4 {
  height: 75%
}

.h-full {
  height: 100%
}

.h-20 {
  height: 5rem
}

.h-16 {
  height: 4rem
}

.w-10 {
  width: 2.5rem
}

.w-14 {
  width: 3.5rem
}

.w-full {
  width: 100%
}

.w-52 {
  width: 13rem
}

.w-16 {
  width: 4rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-evenly {
  justify-content: space-evenly
}

.rounded-full {
  border-radius: 9999px
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-b-xl {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.bg-green-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(187 247 208 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.p-4 {
  padding: 1rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.text-center {
  text-align: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}
